.outlet{
    height: 85vh;
    overflow: auto;

}
.outlet::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width: 1024px){
    .outlet{
        height: 81vh;
    }
    .outlet::-webkit-scrollbar{
        width: 10px;
        background: #0000ff;
        display: block;
    }
    .outlet::-webkit-scrollbar-track{
        background: #000;
    }
    .outlet::-webkit-scrollbar-thumb{
        background: #0000ff;
    }
}